:root {
    --color-scheme: #282828;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('https://wallpapercave.com/wp/wp4446237.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    position: relative;
    height: 30rem;
    width: 50rem;
    border: none;
    outline: none;
    border-radius: 2.2rem;
    background: url('https://wallpapercave.com/wp/wp8607954.jpg');
    background-repeat: no-repeat;
    background-size: 50rem 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}

.container .input_field {
    height: 2rem;
    width: 30rem;
    border: none;
    outline: none;
    text-align: center;
    margin-left: 0.3rem;
    border-radius: 0.2rem;
    box-shadow: 3px 3px 3px 3px var(--color-scheme);
}

.input_field::placeholder {
    font-size: 1rem;
    text-align: center;
    color: var(--color-scheme);
   

}

.container .submit {
    background: transparent;
    border-radius: 3px;
    border: 2px solid #fabd2f;
    color: #fabd2f;
    margin: 0 1em;
    padding: 0.4em 1em;
    box-shadow: 3px 3px 3px 3px var(--color-scheme);
    cursor: pointer;
}

.submit:hover {
    color: #282828;
    border: 2px solid #fabd2f;
    cursor: pointer;
    transform: scale(0.95);
    box-shadow: none;
    background: #fabd2f;
}

.container .video_thala {
    height: 20rem;
    width: 20rem;
    border-radius: 2rem;
    box-shadow: 4px 4px 4px 4px var(--color-scheme);
    margin-bottom: 3rem;
}

.hidden {
    display: none;
}

.thala_text {
    position: absolute;
    top: 15rem;
    font-size: 3.5rem;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,235,0,0.7455182756696428) 0%, rgba(0,0,0,1) 40%);
    color: transparent;
    background-clip: text;
}


/* media quries  */

@media screen and (max-width: 650px) {

    body {
        background-size: 100vw 100vh ;
    }
    .container {
        height: 20rem;
        width: 30rem;
        background-size: 30rem 20rem;
    }

    .container .input_field {
        height: 2rem;
        width: 20rem;
    }
    

    .container .video_thala {
        height: 13rem;
        width: 13rem;
    }

    .thala_text {
        top: 15rem;
        font-size: 2.3rem;
    }
}


@media screen and (max-width: 500px) {

    body {
        background-size: 100vw 100vh ;
    }
    .container {
        height: 22rem;
        width: 25rem;
        background-size: 25rem 22rem;
    }

    .container .input_field {
        height: 2rem;
        width: 15rem;
    }
    
    .input_field::placeholder {
        font-size: 1rem;
        text-align: center;
        color: var(--color-scheme);
    
    }
    .container .video_thala {
        
        height: 14rem;
        width: 14rem;
        margin-bottom: 2.3rem;
    }

    .thala_text {
        top: 12rem;
        left: 2rem;
        font-size: 1.4rem;
    }
}


@media screen and (max-width: 400px) {

    body {
        background-size: 100vw 100vh ;
    }
    .container {
        height: 18rem;
        width: 22rem;
        background-size: 25rem 22rem;
    }

    .container .input_field {
        height: 2rem;
        width: 15rem;
    }
    
    .input_field::placeholder {
        font-size: 1rem;
        text-align: center;
        color: var(--color-scheme);
    
    }
    .container .video_thala {
        
        height: 11rem;
        width: 11rem;
        margin-bottom: 1.7rem;
    }

    .thala_text {
        top: 12rem;
        left: 2rem;
        font-size: 1.4rem;
    }
}